.cartacss{
    display: grid;
    background-image: linear-gradient(to bottom right, rgb(214, 191, 191) , rgb(204, 7, 7));
}
.title{
    display: grid;
    text-align: center;
    justify-content: center;
}
