head{
    background-color: burlywood;
    padding: 40px;
}
body{
    width: auto;
}
.contenedor{
        background-image: linear-gradient(to bottom right, rgb(214, 191, 191) , rgb(204, 7, 7));
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr;
        grid-template-rows: 0.5fr 2fr 1,5fr 0.25fr;
        gap: 2px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header titlee titlee"
          "contenido contenido aside"
          "video video video"
          "form form footer";
}
.contenedor > div,
.contenedor .header,
.contenedor .title,
.contenedor .contenido,
.contenedor .aside,
.contenedor .video
.contenedor .footer
.contenedor .form {
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-area: "header";
    text-align: start;
    justify-content: start;
    align-items: flex-start;
}
.contenedor .titlee{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: titlee;
    color: red;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    transform: scale(2,1)
}
.contenedor .contenido{
    height: 100px;
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: start;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: "contenido";
}
.contenedor .aside{
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: start;
    grid-area: "aside";
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*grid-row: span 2;*/
}
.contenedor .video{
    grid-area: "video";
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contenedor .footer{
    background-image: linear-gradient(to bottom right, rgb(214, 191, 191) , rgb(204, 7, 7));
    grid-area: "footer";
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    /*grid-column: span 3;*/
}
.contenedor .form{
    grid-area: "form";
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
}

@media (min-width: 576px) { 
    
 }
@media (min-width: 768px) { 

 }
@media (min-width: 992px) { 

 }
@media (min-width: 1200px) {

 }
 
#navegador{
    list-style-type: none;
    text-align: right;
    display: inline;
}
.nave{
    nav-right: auto;
}
.nav-item{
    nav-right: initial;
}
.btn--twitter {
    background-color: #55acee;
 }
 
 .btn--facebook {
    background-color: #3a5795;
 }
 
 .btn--send-mail {
    background-color: #C25E30;
 }
 
